[submodule "hm-backup"]
	path = hm-backup
	url = git@github.com:humanmade/hm-backup.git
[submodule "assets/fancyBox"]
	path = assets/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "assets/webshim"]
	path = assets/webshim
	url = https://github.com/aFarkas/webshim.git
