[submodule "hm-backup"]
	path = hm-backup
	url = https://github.com/humanmade/hm-backup.git
[submodule "assets/colorbox"]
	path = assets/colorbox
	url = git://github.com/jackmoore/colorbox.git
[submodule "assets/datetimepicker"]
	path = assets/datetimepicker
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon.git
