tfoot p { margin: 0; font-weight: normal; }

.hmbkp_active td:first-child > code:before { content: "\00a0 \2713  "; font-size: 11px; }
.hmbkp_active { background: #E5F7E8; }

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-state-active a { font-weight: bold; color: #000; }
.hmbkp_schedule { clear: both; overflow: hidden; }
div#hmbkp-warning { margin: 20px 0 0; }

#cboxLoadedContent { margin-bottom: 0; }

/*.hmbkp-form { overflow: hidden; }


.hmbkp-form fieldset { float: left; }
.js .hmbkp-form fieldset + fieldset { display: none; margin-right: -100%; }
form.hmbkp-form div.recurring-setting { display: none; }

form.hmbkp-form div { display: block; line-height: 25px; padding-bottom: 20px; border-bottom: 1px dotted #CCC; margin-bottom: 20px; width: 320px; position: relative; }

.hmbkp-form legend { padding: 0 0 20px; font-size: 1.17em; font-weight: bold; }
.hmbkp-form div > select, .hmbkp-form div > input, .hmbkp-form div > span.field-group, .button-right { float: right; }
.hmbkp-form label.hidden { display: none; }
.hmbkp-form div > input[type="text"], .hmbkp-form div > select, .hmbkp-form div > input[type="password"] { min-width: 200px; }
.hmbkp-form div > input[type="checkbox"] { margin-top: 6px; }
.hmbkp-form div .description { line-height: 16px; margin-top: 10px; float: none; }
.hmbkp-form p.submit { margin: 20px 0 0; padding: 0; }
.hmbkp-form .button-primary { float: right; }
.hmbkp-form [type="number"] { min-width: 50px; width: 50px; }
.hmbkp-error span, span.hmbkp-error { position: absolute; top: -14px; right: 1px; color: #FFF; background-color: red; white-space: nowrap; line-height: 16px; font-size: 11px; padding: 0 3px; border-radius: 3px 3px 0 0; }
.hmbkp-error input[type], .hmbkp-error select { border-color: red; border-top-right-radius: 0; }

.hmbkp-form ul { width: 320px; overflow: hidden; }
.hmbkp-form ul.hmbkp_file_list { background-color: #FFF; max-height: 200px; overflow-y: scroll; display: block; border-radius: 4px; box-sizing: border-box; clear: both; box-shadow: inset 0px 0px 2px #CCC; font-size: 11px; }
*/

.nav-tab.right { float: right; }

.hmbkp_file_list li { margin: 0; padding: 5px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 16px; }
.hmbkp_file_list li + li { border-top: 1px dotted #CCC; }

.hmbkp-schedule-sentence { font-size: 16px; font-weight: lighter; margin: 20px 0; background-color: #FBFBFB; padding: 20px; border: 1px solid #e5e5e5; box-shadow: 0 1px 1px rgba( 0,0,0,.04 ); }

.hmbkp-upsell { margin-top: 40px; border-top: 1px solid #ccc; }
.hmbkp-upsell a { display: block; margin-bottom: 0; width: 120px; }
.hmbkp-upsell ul { overflow: hidden; }
.hmbkp-upsell li { float: left; margin: 0 20px 20px 0; }
.hmbkp-upsell img { display: block; margin: 0 auto; max-width: 120px; min-height: 60px; }
.hmbkp-upsell .howto { font-weight: normal; display: inline; }
.hmbkp-schedule-sentence::before { content: "\2714"; margin-right: 10px; width: 16px; height: 80px; display: block; float: left; }
.hmbkp-schedule-sentence.hmbkp-error:before { content: "\2718"; }
.hmbkp-schedule-sentence.hmbkp-running:before { width: 20px;height: 80px; margin: -1px 10px 0 0; content: ""; background: transparent url('spinner-2x.gif') no-repeat 0 0; background-size: 20px; display: inline-block; }
.hmbkp-schedule-sentence .hmbkp-status { display: none; font-size: 12px; color: #666; margin: 2px 0 0 30px; }
.hmbkp-schedule-sentence.hmbkp-running .hmbkp-status { display: block; }
.hmbkp-schedule-sentence.hmbkp-running .hmbkp-schedule-actions { display: none; }
.hmbkp-schedule-sentence [title] { border-bottom: 1px dotted #CCC; cursor: help; }
.hmbkp-schedule-sentence .hmbkp-status[title] { border-bottom: none; }
.hmbkp-schedule-sentence .submit { margin: 0; padding: 0; }

.hmbkp-schedule-settings { border-top: 1px solid #e5e5e5; margin: 20px -20px -20px; background-color: #f5f5f5; padding: 0 20px 20px; }

.hmbkp-schedule-sentence .hmbkp-schedule-actions { visibility: visible; }
.hmbkp-schedule-actions { font-size: 12px; font-weight: normal; margin: 0 0 0 26px; }

.hmbkp-ajax-loading, button.hmbkp-ajax-loading { padding-left: 20px; position: relative; }
.hmbkp-ajax-loading::after { content: ""; width: 16px; height: 16px; background-image: url('spinner-2x.gif'); background-size: 16px 16px; background-repeat: no-repeat; background-position: 0 0; position: absolute; right: -30px; top: 5px; }

.delete-action { color: #a00; }
.delete-action:hover .delete-action:focus { color: red; }

table.widefat tbody tr:nth-child(odd) { background-color: #f9f9f9 }

.hmbkp_add_exclude_rule .howto { line-height: 1.4em; margin-top: 10px; }
label[for="hmbkp-new-exclude-rule"] { overflow: hidden; }
.hmbkp_preview_exclude_rule { float: left !important; margin-top: 1px ! important; padding: 0 3px 1px ! important; width: 75px; }
div.hmbkp_add_exclude_rule { display: block; line-height: 25px; width: 320px; overflow: hidden; }
div.hmbkp_add_exclude_rule input { min-width: 240px; float: left; line-height: 16px; margin-right: 4px; }
.hmbkp_save_exclude_rule, .hmbkp_cancel_save_exclude_rule { float: left; }

.hmbkp-exclude-preview-open table,
.hmbkp-exclude-preview-open .hmbkp-tabs,
.hmbkp-exclude-preview-open p.submit {
	display: none;
}

.hmbkp-exclude-preview-open .hmbkp_add_exclude_rule {
	margin: 0;
}

.hmbkp-tabs > div {
	display: none;
}
.ui-tabs-panel { clear: both; }
.ui-tabs-panel form { padding-top: 10px; }
.hmbkp-edit-schedule-excludes-form td a, .hmbkp-edit-schedule-excludes-form td span.reason { float: right; }
.hmbkp-edit-schedule-excludes-form td span.code { float: left; width: 255px; }
.hmbkp-edit-schedule-excludes-form td span.reason { color: #CCC; }

.server-info { overflow: auto; max-height: 320px; }
.server-info pre { max-height: 100px; overflow-x:hidden; }

pre { background-color: #eee; padding: 10px; white-space: pre; max-height: 320px; overflow: auto; word-wrap: normal !important; }

@media screen and (max-width: 639px) {

	.wrap h2 {
		padding: 10px 0 0 0;
	}

	h2 .nav-tab {
		display: block;
		padding: 10px;
		margin: 0;
	}

	.hmbkp-schedule-sentence {
		margin: 10px 0;
		padding: 10px;
	}

}