#icon-backupwordpress.icon32	{ background: url(icon_backupwordpress_32x32.png); }
.hmbkp_running .add-new-h2 img { margin: 0 3px -4px -6px; opacity: 0.3; }
.add-new-h2[disabled="disabled"], add-new-h2[disabled="disabled"]:hover, .add-new-h2[disabled="disabled"]:active, .add-new-h2[disabled="disabled"]:focus { cursor: default; color: #666; }
tfoot p { margin: 0; font-weight: normal; }
#hmbkp-settings { display: none; }
#hmbkp-settings.show_form { display: block; }
#hmbkp-constants dl { overflow: hidden; margin: 20px 0; }
#hmbkp-constants dt { float: left; min-width: 250px; clear: both; padding: 6px; margin: 1px 0; cursor: pointer; }
#hmbkp-constants dd { color: #666; padding: 7px 0 7px 250px; border-top: 1px solid #DFDFDF; margin: 0; cursor: pointer; min-height: 40px; }
#hmbkp-constants dd:last-child { border-bottom: 1px solid #DFDFDF; }
#hmbkp-constants dt:not(.hmbkp_active) + dd { background: #F9F9F9; }
#hmbkp-constants dd .example { white-space: nowrap; display: none; }
#hmbkp-constants dd p { margin: 0; }
#hmbkp-constants dt:not(.hmbkp_active):hover + dd, #hmbkp-constants dt:not(.hmbkp_active) + dd:hover { background-color: #FFF; }
#hmbkp-constants dd:hover p, #hmbkp-constants dt:hover + dd p { display: none; }
#hmbkp-constants dd:hover .example, #hmbkp-constants dt:hover + dd .example { display: inline; }
.hmbkp_manage_backups_row .delete { color: #BC0B0B; }
.hmbkp_manage_backups_row .delete:hover { color: red; }
.completed th, .completed td { background-color: #FFFFE0; }
.hmbkp_active:before { content: "\00a0 \2713 "; font-size: 11px; }
.hmbkp_active, .hmbkp_active code, #hmbkp-constants .hmbkp_active + dd { background: #E5F7E8; }
.contextual-help-tabs-wrap .updated { margin: 15px 0 0; }
#hmbkp_backup.hmbkp_running { background-image: url('../../../../wp-admin/images/wpspin_light.gif'); background-repeat: no-repeat; background-position: 2px 2px; padding-left: 20px; }